@mixin boton {
    width: 200px;
    height: 48px;
    border-radius: 60px;
    color: #ffffff;
    margin: 10px;
    background-color: red;
  }
  
  
  .alerta {
    @include boton;
    background-color: gold;
  }
  
  .peligro {
    @include boton;
    background-color: red;
  }
  
  .normal {
    @include boton;
    background-color: blue;
  }
  
  .ok {
    @include boton;
    background-color: green;
  }