.alerta {
  width: 200px;
  height: 48px;
  border-radius: 60px;
  color: #ffffff;
  margin: 10px;
  background-color: red;
  background-color: gold; }

.peligro {
  width: 200px;
  height: 48px;
  border-radius: 60px;
  color: #ffffff;
  margin: 10px;
  background-color: red;
  background-color: red; }

.normal {
  width: 200px;
  height: 48px;
  border-radius: 60px;
  color: #ffffff;
  margin: 10px;
  background-color: red;
  background-color: blue; }

.ok {
  width: 200px;
  height: 48px;
  border-radius: 60px;
  color: #ffffff;
  margin: 10px;
  background-color: red;
  background-color: green; }
